name: Build and Publish Docs
on:
  push:
    branches:
      - '**'
    tags:
      - '*'
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os[0] }}
    strategy:
      matrix:
        os: [
          [macos-13, x86_64, bash],
          [ubuntu-22.04, x86_64, bash]
        ]
      fail-fast: false
    defaults:
      run:
        shell: ${{ matrix.os[2] }} {0}
    steps:
      - uses: actions/checkout@v4
      - &setup_pspdev
        name: Setup PSPDEV Environment
        run: |
          # Set OS specific variables
          if [[ "${{ matrix.os[0] }}" == "ubuntu-22.04" ]]; then
            URL="https://github.com/pspdev/pspdev/releases/download/v20240609/pspdev-ubuntu-latest-x86_64.tar.gz"
          elif [[ "${{ matrix.os[0] }}" == "macos-13" ]]; then
            URL="https://github.com/pspdev/pspdev/releases/download/v20240609/pspdev-macos-13-x86_64.tar.gz"
          fi
          FILE=$(basename $URL)
          wget $URL
          tar -xzf $FILE
          echo "PSPDEV=$PWD/pspdev" >> $GITHUB_ENV
          echo "$PWD/pspdev/bin" >> $GITHUB_PATH
          if command -v brew >/dev/null 2>&1; then
            echo "$(brew --prefix gnu-sed)/libexec/gnubin" >> $GITHUB_PATH
            echo "$(brew --prefix libtool)/libexec/gnubin" >> $GITHUB_PATH
            echo "PKG_CONFIG_PATH=$(brew --prefix libarchive)/lib/pkgconfig:$(brew --prefix openssl)/lib/pkgconfig" >> $GITHUB_ENV
          fi
      - name: Runs build in shell
        run: make

  publish-docs:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup PSPDEV Environment
        run: |
          # Set OS specific variables
          URL="https://github.com/pspdev/pspdev/releases/download/v20240609/pspdev-ubuntu-latest-x86_64.tar.gz"
          FILE=$(basename $URL)
          wget $URL
          tar -xzf $FILE
          echo "PSPDEV=$PWD/pspdev" >> $GITHUB_ENV
          echo "$PWD/pspdev/bin" >> $GITHUB_PATH
      - name: Generate documentation
        run: make gendoc
      - name: Publish to GitHub Pages
        run: make ghpages
        env:
          GIT_AUTHOR_NAME: github-actions
          GIT_AUTHOR_EMAIL: github-actions@github.com
          GIT_COMMITTER_NAME: github-actions
          GIT_COMMITTER_EMAIL: github-actions@github.com
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup PSPDEV Environment
        run: |
          # Set OS specific variables
          URL="https://github.com/pspdev/pspdev/releases/download/v20240609/pspdev-ubuntu-latest-x86_64.tar.gz"
          FILE=$(basename $URL)
          wget $URL
          tar -xzf $FILE
          echo "PSPDEV=$PWD/pspdev" >> $GITHUB_ENV
          echo "$PWD/pspdev/bin" >> $GITHUB_PATH
      - name: Build project
        run: make
      - name: Generate release files
        run: make release
      - name: Compress release
        run: |
          mkdir -p dist
          tar -czf dist/oslib-release-${GITHUB_REF##*/}.tar.gz Distrib/
      - name: Generate documentation
        run: make gendoc
      - name: Publish to GitHub Pages
        run: make ghpages
        env:
          GIT_AUTHOR_NAME: github-actions
          GIT_AUTHOR_EMAIL: github-actions@github.com
          GIT_COMMITTER_NAME: github-actions
          GIT_COMMITTER_EMAIL: github-actions@github.com
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish release on GitHub Releases
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dist/oslib-release-${GITHUB_REF##*/}.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}